[Unit]
Description=NAT Conntracker

[Service]
ExecStart=/usr/local/bin/nat-conntracker-wrapper
Restart=always
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
