# Service definition to be installed somewhere in the systemd load path
[Unit]
Description=NAT Conntracker

[Service]
ExecStart=/usr/sbin/%p-wrapper
Restart=always
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
